.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 230px;
  padding: 10px;
}

.nav-item-text {
  margin-left: 16px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 20px;
}

.active-link {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
  border-right: 3px solid #3f51b5; /* Angular Material primary color */
}
