<div class="container">
  <h1>設備列表</h1>

  <div *ngIf="loading" class="spinner-container"></div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div *ngIf="!loading && !errorMessage">
    <mat-list role="list" *ngIf="devices.length > 0; else noDevices">
      <mat-list-item *ngFor="let device of devices" role="listitem">
        <mat-icon matListItemIcon>
          {{
            device.device_type === "phone"
              ? "phone_iphone"
              : device.device_type === "tablet"
              ? "tablet_mac"
              : "laptop_mac"
          }}
        </mat-icon>
        <div matListItemTitle>{{ device.device_name }}</div>
        <div matListItemLine>{{ device.brand }} {{ device.model }}</div>
        <div matListItemMeta [ngClass]="'status-' + device.status">
          {{ device.status | uppercase }}
        </div>
      </mat-list-item>
    </mat-list>

    <ng-template #noDevices>
      <p>目前沒有任何設備。</p>
    </ng-template>
  </div>
</div>
